# Notebook inicial de EDA para llamadas 123

In [116]:
#importar librerias de manipulacion
import pandas as pd

import os
from pathlib import Path

In [117]:
root_dir = Path(".").resolve().parent #para ubicacion de archivo # para devolver a la carpeta principal
filename= 'llamadas123_julio_2022.csv'

file_path = os.path.join(root_dir,"data","raw",filename)
file_path

'C:\\Users\\Fabio\\OneDrive\\Documentos\\Jenny\\BIG DATA\\BIGDATA2022\\data\\raw\\llamadas123_julio_2022.csv'

In [118]:
df = pd.read_csv(file_path, sep =";", encoding="latin-1") # encoding es para cambiar la lectura de datos a español, sep = es para delimitar el archivo, 
#con df cree la variable del archivo, con n rows= puedo traer una muestra de la base

In [119]:
df.head() #muestra las primeras filas que se quieran ver , si no se coloca nada muestra las primeras 5, sino le colocas el numero que se quiera ver

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [120]:
df.shape # shape indica numero de filas y columnas

(13055, 11)

In [121]:
df.dtypes #para saber que tipos de datos se tienen, si pandas dice object se refiere a un string es decir un texto

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [122]:
df['EDAD'] .value_counts (normalize=True, dropna=False) #Para esxplorara un dato especifico y con .value_counts () se puede hacer la tabla de frecuencia
# con (normalize=True) lo paso a %

SIN_DATO    0.475144
23          0.011566
22          0.010724
30          0.010341
27          0.010264
              ...
7           0.001302
98          0.001226
9           0.001149
8           0.001072
97          0.000919
Name: EDAD, Length: 100, dtype: float64

In [123]:
len (df['TIPO_INCIDENTE'].unique())

21

In [124]:
lista_columnas = df.columns 

#crear un diccionario vacio
dict_reporte = dict()

for col in lista_columnas:
    lista_unicos = df[col].unique()
    n_unicos = len(lista_unicos)
    dict_reporte[col] = n_unicos
   # print ('columna',col,n_unicos)

print('fuera del loop') 
print(dict_reporte)

fuera del loop
{'NUMERO_INCIDENTE': 12015, 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL': 12781, 'CODIGO_LOCALIDAD': 20, 'LOCALIDAD': 20, 'EDAD': 100, 'UNIDAD': 6, 'GENERO': 3, 'RED': 5, 'TIPO_INCIDENTE': 21, 'PRIORIDAD': 4, 'RECEPCION': 5235}

In [125]:
df_reporte = pd.DataFrame.from_dict(dict_reporte, orient='index') #creacion de tablas
df_reporte.rename({0:'conteo'}, inplace = True, axis=1) #renombrar el titulo o nombre de columna
df_reporte

                                   conteo
NUMERO_INCIDENTE                    12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL   12781
CODIGO_LOCALIDAD                       20
LOCALIDAD                              20
EDAD                                  100
UNIDAD                                  6
GENERO                                  3
RED                                     5
TIPO_INCIDENTE                         21
PRIORIDAD                               4
RECEPCION                            5235

## Ejercicio, Crear un script de python (main.py) que lea el archivo de llamadas al 123 
# y genere una tabla de reporte de la cantidad de valores unicos, 
# guarde la tabla en resultante en el directorio data/processed

In [157]:
# pseudo codigo
# main()
#    datos = get_data(filename)
#    reporte = generate_report(datos)
#    save_data(reporte)
import os
import pandas as pd
from pathlib import Path

root_dir = Path(".").resolve()

In [158]:
def get_data(filename):
    
    data_dir = 'raw'
    file_path = os.path.join(root_dir, "data", data_dir, filename)

    datos = pd.read_csv(file_path, encoding='latin-1', sep=';')
    print('get_data')
    print('La tabla contiene', datos.shape[0], 'filas', datos.shape[1], 'columnas')
    return datos

In [159]:
def generate_report(datos):
    # Crear un diccionario vacio
    dict_resumen = dict()

    # loop para llenar el diccionario de columnas con valores unicos
    for col in datos.columns:
        valores_unicos = datos[col].unique()
        n_valores = len(valores_unicos)
        dict_resumen[col] = n_valores

    reporte = pd.DataFrame.from_dict(dict_resumen, orient='index')
    reporte.rename({0: 'Count'}, axis=1, inplace=True)

    print('generate_report')
    print(reporte.head())
    return reporte

In [160]:
def save_data(reporte, filename):
    # Guardar la tabla:

    out_name = 'resumen_' + filename
    out_path = os.path.join(root_dir, 'data', 'processed', out_name)
    reporte.to_csv(out_path)

In [161]:
def main():

    filename = "llamadas123_julio_2022.csv"
    datos = get_data(filename)
    reporte = generate_report(datos)
    save_data(reporte, filename)

    print('DONE!!!')

In [162]:
if __name__ == '__main__':
    main()

get_data
La tabla contiene 13055 filas 11 columnas
generate_report
                                   Count
NUMERO_INCIDENTE                   12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL  12781
CODIGO_LOCALIDAD                      20
LOCALIDAD                             20
EDAD                                 100
DONE!!!

In [ ]:
###########################################
# main.py
#   script principal del curso BigData 
###########################################

In [163]:
import numpy as np
import pandas as pd
import os
import logging

In [148]:
from pathlib import Path
from tqdm import tqdm

In [149]:
#========================================================================
# Main
#========================================================================

In [164]:
def main():
    """Main function for ETL
    """
    logger = logging.getLogger('main')
    logger.info("Iniciando ETL para llamadas 123!!!")

    try:
        generate_unique_values_report(filename="llamadas123_julio_2022.csv")
    except Exception as e:
        logger.info("Error generando el reporte")
        logger.info(e)

    logger.info("DONE!!!")


#========================================================================
# generate_unique_values_report
#========================================================================

In [165]:
def generate_unique_values_report(filename):
    """Genera una tabla con el resumen de los valores unicos por cada columna
    en el archivo dado (filename)

    Args:
        filename (str): nombre del archivo para generar el reporte
    """
    logger = logging.getLogger('generate_unique_values_report')

    # Read data
    data = get_data(file=filename, dir="raw")
    lista_columnas = list(data.columns)

    # loop para llenar el dictionario con los valores unicos
    dict_valores = dict()
    logger.info("Creating report")
    for elem in tqdm(lista_columnas):
        dict_valores[elem] = len(data[elem].unique())

         # Crea una tabla (pandas.dataframe) desde un dictionario
    df_sum = pd.DataFrame.from_dict(dict_valores, orient="index")
    df_sum = df_sum.rename({0:"Count"}, axis=1)                    # renombra la columna 0 con Count

    # Guardar la tabla en el directorio output
    outname = "report_unique_values_" + filename 
    save_data(data=data, dir='processed', out_name=outname)

In [ ]:
#========================================================================
# save_data
#========================================================================

In [166]:
def save_data(data, dir, out_name):
    """Guarda un archivo csv, de la tabla data en el diretorio y nombre 
    indicado
    Args:
        data (pandas.dataframe): Datos a guardar
        dir (str): nombre del directorio donde almacenar los datos
        out_name (str): nombre del archivo a guardar
    """
    logger = logging.getLogger('save_data')

    # obtener la ruta para guardar el archivo
    filepath = os.path.join(project_dir, "data", dir, out_name)

    logger.info("Saving {}".format(filepath))

    # grabar el archivo CSV
    data.to_csv(filepath, index=False)

In [ ]:
#========================================================================
# get_data
#========================================================================

In [167]:
def get_data(file, dir):
    """Lee el archivo indicado, retorna un dataframe de pandas con los datos
    Args:
        file (str): nombre del archivo de entrada
        dir (str): nombre del directorio donde se encuentran los datos
    Returns:
        pandas.dataframe: dataframe con los datos
    """
    logger = logging.getLogger('get_data')

    # get full path where file is located
    filepath = os.path.join(project_dir, "data", dir, file)
    
    # read data
    data = pd.read_csv(filepath, sep=";", encoding="latin-1")

    logger.info("File: {} table shape:{}".format(file, data.shape) )
    return data

In [168]:
if __name__ == '__main__':
    # Basic configuration for logging (time - function name - level logs - message)
    log_fmt = "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
    logging.captureWarnings(True)
    logging.basicConfig(level=logging.INFO, format=log_fmt)

    project_dir = Path(".").resolve()

    main()

2022-09-15 21:15:55,395 - main - INFO - Iniciando ETL para llamadas 123!!!
2022-09-15 21:15:55,430 - get_data - INFO - File: llamadas123_julio_2022.csv table shape:(13055, 11)
2022-09-15 21:15:55,431 - generate_unique_values_report - INFO - Creating report
100%|██████████| 11/11 [00:00<00:00, 916.48it/s]
2022-09-15 21:15:55,446 - save_data - INFO - Saving C:\Users\Fabio\OneDrive\Documentos\Jenny\BIG DATA\BIGDATA2022\notebooks\data\processed\report_unique_values_llamadas123_julio_2022.csv
2022-09-15 21:15:55,521 - main - INFO - DONE!!!