In [76]:
# importar librerias para manipulacion de datos
import numpy  as np
import pandas as pd

# importar librerias para visualizacion
import matplotlib.pyplot as plt


# importar librerias internas del sistema
import os
from pathlib import Path

In [77]:
root_dir = Path(".").resolve().parent #para ubicacion de archivo # para devolver a la carpeta principal
filename= 'llamadas123_julio_2022.csv'

file_path = os.path.join(root_dir,"data","raw",filename)
file_path

'C:\\Users\\Fabio\\OneDrive\\Documentos\\Jenny\\BIG DATA\\BIGDATA2022\\data\\raw\\llamadas123_julio_2022.csv'

In [78]:
# Obtener la ruta donde leer los archivos de datos
filename = "llamadas123_julio_2022.csv"
dir_data = os.path.join(root_dir, "data", "raw")


print(filename, type(filename))
print(dir_data, type(dir_data))

llamadas123_julio_2022.csv <class 'str'>
C:\Users\Fabio\OneDrive\Documentos\Jenny\BIG DATA\BIGDATA2022\data\raw <class 'str'>

In [79]:
# Leer archivo de datos con extension CSV
data = pd.read_csv(
    os.path.join(dir_data , filename),
    sep = ';',
    encoding = 'latin-1'
)

data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [80]:
#Eliminar registros duplicados
print ('forma inicial',data.shape)
data = data.drop_duplicates() # drop desechar duplicados desde pandas
data.reset_index(inplace=True, drop=True) #Elimina columas dulicadas desde el indice
print('forma final', data.shape)

forma inicial (13055, 11)
forma final (13026, 11)

In [81]:
#obtener informacion de la tabla
data.info()#obtengo el esquema de la tabla

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13018 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [82]:
#Tratamiento de valores nulos
#nulo de string = sin_dato - n/a
#nulo numeros = numpy utilizar funcion nan(not_asigned_name) (np.nan)
#nulo de fechas = nat (not_asigned_time)

col = 'UNIDAD'
# data [col].value_counts(dropna=False, normalize=True) ---- # dropna = mostrar nulos (dropna=false, no ignorar los nulos) - normalize = porcentualizar la frecuencia de repeticion de los datos
data [col].fillna('SIN_DATO', inplace=True) #fillna (incluye a una variable definida nombrandola coo campo ya establecido en)
data [col].value_counts(dropna=False, normalize=True)

A¤os        0.520574
SIN_DATO    0.475587
Meses       0.002994
Horas       0.000461
Dias        0.000384
Name: UNIDAD, dtype: float64

In [83]:
data.head() #traer los 5 primeros datos de la tabla

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [84]:
fecha = '2022-07-01 00:08:59'
pd.to_datetime(fecha)

Timestamp('2022-07-01 00:08:59')

In [85]:
fecha = ' 0000-00-00 00:00:00'
pd.to_datetime(fecha, errors='coerce', format= '%Y/%m/%d')

NaT

In [86]:
col='FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
data[col] #verificar como vienen los datos de la columna de fechas

0        2022-07-01 00:08:59
1        2022-07-01 00:14:58
2        2022-07-01 00:21:59
3        2022-07-01 00:38:38
4        2022-07-01 00:53:32
                ...
13021    2022-08-08 05:31:48
13022    2022-08-08 10:38:32
13023    2022-08-08 11:23:01
13024    2022-08-08 11:23:01
13025    0000-00-00 00:00:00
Name: FECHA_INICIO_DESPLAZAMIENTO_MOVIL, Length: 13026, dtype: object

In [87]:
fecha = '1985-12-03 00:00:00'
pd.to_datetime(fecha,errors='coerce', format ='%Y/%m/%d')#no asignarle nada si se encuentra en ese formato 
#y asignarle un formato de fecha para verificar si es una fecha correcta o es un NaT

Timestamp('1985-12-03 00:00:00')

In [88]:
col='FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
data[col] = pd.to_datetime(data[col],errors='coerce') #cambiar el tipo de dato string a fecha
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.1+ MB

In [89]:
col='EDAD'
data[col].value_counts(dropna=False, normalize =True) 
#verificar como vienen los datos de la columna de EDAD y nos damos cuenta que vienen algunos sin datos

SIN_DATO    0.474973
23          0.011515
22          0.010748
27          0.010287
30          0.010287
              ...
7           0.001305
98          0.001228
9           0.001152
8           0.001075
97          0.000921
Name: EDAD, Length: 100, dtype: float64

In [90]:
col='EDAD'
data[col].replace({'SIN_DATO': np.nan}, inplace =True) #reemplaza las de SIN_DATE por nan sin numero asignado
data[col]

0         88
1         16
2         52
3        NaN
4         33
        ...
13021     18
13022    NaN
13023     11
13024     19
13025    NaN
Name: EDAD, Length: 13026, dtype: object

In [91]:
data[col].value_counts() #arroja que el caracter 23 tiene 150 registros

23    150
22    140
27    134
30    134
26    133
     ...
7      17
98     16
9      15
8      14
97     12
Name: EDAD, Length: 99, dtype: int64

In [92]:
data[col].unique() #me muestra cada rato como unico y en comillas que es un string

array(['88', '16', '52', nan, '33', '57', '65', '14', '83', '35', '19',
       '53', '56', '45', '2', '18', '34', '84', '80', '7', '64', '41',
       '28', '23', '85', '92', '38', '11', '58', '70', '50', '27', '67',
       '54', '87', '24', '90', '99', '49', '91', '21', '62', '59', '26',
       '78', '30', '32', '51', '15', '79', '37', '60', '76', '22', '47',
       '61', '82', '86', '77', '63', '39', '89', '36', '97', '40', '75',
       '13', '25', '73', '69', '72', '68', '44', '31', '74', '81', '43',
       '20', '66', '10', '48', '29', '8', '17', '94', '55', '1', '4', '3',
       '9', '71', '46', '6', '95', '93', '98', '96', '42', '5', '12'],
      dtype=object)

In [93]:
#funciones lambda 
# para escribir una funcion en una sola linea y no un script largo, para script pequeños u operaciones sencillas

#funcion larga declarando variables
def f(x):
        resultado = x**2 #que quiero que haga la funcion
        return resultado #la funcion que quiero que me retorne

x=4 # cual es el resultado de esta operacion
f(x)

16

In [94]:
#funciones lambda 
# para escribir una funcion en una sola linea y no un script largo, para script pequeños u operaciones sencillas

#funcion corta sin declarar variables
str_num ='28'
f = lambda x: x if pd.isna(x) else int(x) #definimos la funcion f para que si es nulo ponga x o si no ponga entero de f
f(str_num)

28

In [95]:
#aplicar una funcion a una columna
data[col] = data[col].apply(f)#para cambiar el tipo de dato de la columna EDAD de object a float
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               6839 non-null   float64
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 1.1+ MB

In [96]:
col='RECEPCION'
data[col] #verificar los datos de esa columna

0        2022-07-01 03:40:13
1        2022-07-01 03:38:13
2        2022-07-01 04:08:24
3        0000-00-00 00:00:00
4        2022-07-01 03:25:29
                ...
13021         8/08/2022 6:48
13022    0000-00-00 00:00:00
13023        9/08/2022 13:13
13024    0000-00-00 00:00:00
13025    0000-00-00 00:00:00
Name: RECEPCION, Length: 13026, dtype: object

In [97]:
#mas de datetimes

from dateutil.parser import parse

fecha= 'may 29th 2021'
pd.to_datetime(fecha)
parse(fecha)

datetime.datetime(2021, 5, 29, 0, 0)

In [98]:
#strings
word2 = 'BigData' #correcto
word1 = ' BigData' #incorrecto con espacios en blanco
print(word1.strip()) #quita los espacios en blanco

BigData

In [99]:
#strings
word2 = 'BigData' #correcto
word1 = ' BigData' #incorrecto con espacios en blanco
word1.replace(' ','') #quita los espacios en blanco

'BigData'

In [100]:
#strings
word2 = 'BigData' #correcto
word2.lower() #convierte en minusculas

'bigdata'

In [101]:
#strings
word2 = 'BigData' #correcto
word2.upper() #convierte en mayusculas

'BIGDATA'

In [102]:
#strings
word2 = 'BigData' #correcto
word2.capitalize() #pone la primera en mayusculas y las demas en minusculas

'Bigdata'

In [103]:
#crear una funcion para intentar corregir las fechas incluyendo los nulos
fechas = lambda x: parse(x)

list_fechas = list() #convertir en una lista las fechas
for fecha in data[col]:
    try: #intente hacerlo
        new_fecha = parse(fecha)
    except Exception as e:
        new_fecha = pd.to_datetime(fecha,errors='coerce')#me muestra los errores como NaT y no se detiene el codigo
       
    list_fechas.append(new_fecha)

data['RECEPCION_CORREGIDA'] =list_fechas #crear una nueva columna con las fecha corregidas

data.head() #traer los 5 primeros datos de la tabla

#en la página de stackowerflow enuengtro la solición de los errores

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION,RECEPCION_CORREGIDA
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88.0,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16.0,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52.0,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,NaN,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00,NaT
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33.0,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29,2022-07-01 03:25:29

In [104]:
data[col].value_counts()

0000-00-00 00:00:00    7767
2022-07-25 00:58:03       3
2022-07-26 17:37:39       2
2022-07-07 22:39:11       2
2022-07-14 14:03:03       2
                       ...
2022-07-11 15:25:36       1
2022-07-09 06:22:58       1
2022-07-11 09:40:05       1
2022-07-14 02:31:13       1
2022-07-07 15:11:10       1
Name: RECEPCION, Length: 5235, dtype: int64

In [105]:
col='LOCALIDAD'
data[col].unique()

array(['Suba', 'Rafael Uribe Uribe', 'Ciudad Bol¡var', 'Usaqu\x82n',
       'La Candelaria', 'Antonio Nari¤o', 'San Crist¢bal', 'Teusaquillo',
       'Kennedy', 'Usme', 'Bosa', 'Tunjuelito', 'Engativ\xa0',
       'Los M\xa0rtires', 'Fontib¢n', 'Chapinero', 'Puente Aranda',
       'Santa Fe', 'Barrios Unidos', 'Sumapaz'], dtype=object)

In [106]:
col='LOCALIDAD'
data[col] #verificar los datos de esa columna

0                      Suba
1                      Suba
2        Rafael Uribe Uribe
3            Ciudad Bol¡var
4                   Usaqun
                ...
13021          Los M rtires
13022          Los M rtires
13023              Engativ
13024              Engativ
13025              Fontib¢n
Name: LOCALIDAD, Length: 13026, dtype: object

In [107]:
col='LOCALIDAD'
data[col].value_counts()

Kennedy               1740
Suba                  1323
Engativ               1304
Bosa                  1065
Ciudad Bol¡var        1009
Puente Aranda          742
Fontib¢n               670
Usaqun                667
Rafael Uribe Uribe     601
Usme                   597
San Crist¢bal          595
Chapinero              507
Tunjuelito             391
Barrios Unidos         389
Los M rtires           379
Teusaquillo            361
Santa Fe               356
Antonio Nari¤o         244
La Candelaria           85
Sumapaz                  1
Name: LOCALIDAD, dtype: int64

In [108]:
#buscar patrones para arreglarlos

import re #libreria para busquedas

def encontrar_patron(patron, txt):
    if re.search(patron, txt):
        new_txt = 'Los Martires'
        return new_txt
    else:
        pass

encontrar_patron("Los.*tires", 'Los M\xa0rtires')#si encuentra el patron de texto reemplacelo

'Los Martires'