In [513]:
# pseudo codigo
# main()
#    datos = get_data(filename)
#    duplicados = remove_duplicates
#    fechas = cleaning_date (data)
#    save_data(reporte)

import os
import pandas as pd
from pathlib import Path
import numpy as np
from dateutil.parser import parse
import re

In [514]:
%pwd

'C:\\Users\\Fabio\\OneDrive\\Documentos\\Jenny\\BIG DATA\\BIGDATA2022\\data\\raw'

In [515]:
path = r'C:\Users\Fabio\OneDrive\Documentos\Jenny\BIG DATA\BIGDATA2022\data\raw'
%pwd

'C:\\Users\\Fabio\\OneDrive\\Documentos\\Jenny\\BIG DATA\\BIGDATA2022\\data\\raw'

In [516]:
os.chdir(path)

In [517]:
%pwd

'C:\\Users\\Fabio\\OneDrive\\Documentos\\Jenny\\BIG DATA\\BIGDATA2022\\data\\raw'

In [518]:
root_dir = Path(".").resolve()#para ubicacion de archivo # para devolver a la carpeta principal

file_path = os.path.join(root_dir,"data","raw")
file_path

'C:\\Users\\Fabio\\OneDrive\\Documentos\\Jenny\\BIG DATA\\BIGDATA2022\\data\\raw\\data\\raw'

In [519]:

datos = [ x for x in os.listdir() if re.search('.csv$',x)]
datos

['llamadas123_abril_2021.csv',
 'llamadas123_abril_2022.csv',
 'llamadas123_agosto_2021.csv',
 'llamadas123_agosto_2022.csv',
 'llamadas123_diciembre_2021.csv',
 'llamadas123_enero_2021.csv',
 'llamadas123_enero_2022.csv',
 'llamadas123_febrero_2021.csv',
 'llamadas123_febrero_2022.csv',
 'llamadas123_julio_2021.csv',
 'llamadas123_julio_2022.csv',
 'llamadas123_junio_2021.csv',
 'llamadas123_junio_2022.csv',
 'llamadas123_marzo_2021.csv',
 'llamadas123_marzo_2022.csv',
 'llamadas123_mayo_2021.csv',
 'llamadas123_mayo_2022.csv',
 'llamadas123_noviembre_2021.csv',
 'llamadas123_octubre_2021.csv',
 'llamadas123_septiembre_2021.csv']

In [481]:
df=pd.DataFrame()

In [520]:
df= pd.DataFrame ()

In [521]:
for i in datos:
    datos =pd.read_csv(i,
    sep = ';',
    encoding = 'latin-1')
    df = pd.concat([datos,df])

In [522]:
df.shape

(251231, 12)

In [523]:
df.head ()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION,FECHA_INICIO_DESPLAZAMIENTO-MOVIL
0,CRU-00464981-21,1/09/2021 0:45,16,Puente Aranda,15,A¤os,MASCULINO,Norte,Enfermo,MEDIA,NaN,NaN
1,CRU-00464982-21,1/09/2021 0:03,13,Teusaquillo,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Herido,ALTA,NaN,NaN
2,CRU-00464983-21,1/09/2021 0:15,10,Engativ,56,A¤os,MASCULINO,Norte,Intoxicaci¢n,ALTA,NaN,NaN
3,CRU-00464984-21,1/09/2021 0:11,2,Chapinero,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Herido,ALTA,NaN,NaN
4,CRU-00464986-21,1/09/2021 0:16,3,Santa Fe,28,A¤os,FEMENINO,Norte,Evento Respiratorio,ALTA,NaN,NaN

In [524]:
def remove_duplicates(df):
  df = df.drop_duplicates() 
  df.reset_index(inplace=True, drop=True) 
  return df

In [526]:
def cleaning_date (df):

  col ='FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
  df[col] #verificar como vienen los datos de la columna de fechas

  fecha = '1985-12-03 00:00:00'
  pd.to_datetime(fecha,errors='coerce', format ='%Y/%m/%d')#no asignarle nada si se encuentra en ese formato 
  #y asignarle un formato de fecha para verificar si es una fecha correcta o es un NaT

  col='FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
  df[col] = pd.to_datetime(df[col],errors='coerce') #cambiar el tipo de dato string a fecha
  df.info()

  #crear una funcion para intentar corregir las fechas incluyendo los nulos
  fechas = lambda x: parse(x)

  list_fechas = list() #convertir en una lista las fechas
  for fecha in df[col]:
    try: #intente hacerlo
        new_fecha = parse(fecha)
    except Exception as e:
        new_fecha = pd.to_datetime(fecha,errors='coerce')#me muestra los errores como NaT y no se detiene el codigo
       
    list_fechas.append(new_fecha)

  df['RECEPCION_CORREGIDA'] =list_fechas #crear una nueva columna con las fecha corregidas

  return df

In [527]:
def column_cleaning (df):

 col = 'UNIDAD'
 df [col].fillna('SIN_DATO', inplace=True)
 df [col].value_counts(dropna=False, normalize=True)

 col='EDAD'
 df[col].replace({'SIN_DATO': np.nan}, inplace =True) #reemplaza las de SIN_DATE por nan sin numero asignado
 df[col]

 f = lambda x: x if pd.isna(x) else int(x) #definimos la funcion f para que si es nulo ponga x o si no ponga entero de f
 df[col] = df[col].apply(f)#para cambiar el tipo de dato de la columna EDAD de object a float
 return df

In [497]:
root_dir=Path('.').resolve().parent
root_dir

WindowsPath('C:/Users/Fabio/OneDrive/Documentos/Jenny/BIG DATA/BIGDATA2022/data')

In [531]:
def save_data(df): # Guardar tabla
    
    root_dir=Path('.').resolve().parent
    
    out_name = 'base_total_2021_2022'# Indicar nombre al archivo de salida
    out_path = os.path.join(root_dir,'processed', out_name)
    df.to_csv(out_path, sep=';')

In [532]:
def main():

    remove_duplicates
    cleaning_date
    column_cleaning
    save_data
    print('DONE')

In [533]:
if __name__ == "__main__":
    
    main()

DONE